@import "main";

.link {
  padding: 8px 16px;
  border-radius: 16px;
  border: 2px dotted transparent;
  margin-right: 24px;
  background-color: $maroon-color-1;
  text-decoration: none;
  font-weight: bold;
  color: $maroon-color-2;
  margin-top: 8px;

  &:hover {
    border: 2px solid $maroon-color-2;
    cursor: pointer;
  }
}
