@import "main";

.project {
  display: flex;
  flex-direction: column;

  // background-color: $white-color-2;
  background-color: #dae2ec40;

  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  margin: 32px 0;
  padding: 24px;

  @media screen and (max-width: $break-size-mobile) {
    padding: 16px;
  }

  .first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $break-size-desktop / 2) {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .date {
    padding-top: 8px;
    color: $gray-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
    span {
      margin-left: 8px;
    }
    font-style: italic;
  }

  .description {
    margin: 16px 0;

    .technologies {
      display: flex;
      flex-direction: row;
      margin-top: 24px;
      flex-wrap: wrap;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .screenshots {
    margin-top: 24px;
    height: 450px;
    width: auto;

    img {
      height: 450px;
      width: auto !important;
    }
  }
}
