@import "main";

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: auto;
  padding: 8px;

  @media screen and (max-width: $break-size-mobile) {
    padding: 16px;
  }

  .informations {
    flex: 2;
    padding: 8px;

    .first-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $break-size-desktop / 2) {
        flex-direction: column;
        align-items: flex-start;
      }

      h1 {
        font-weight: bold;
        font-size: 20px;
        margin-top: 0;
      }
    }

    .date {
      padding-top: 8px;
      color: $gray-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
      span {
        margin-left: 8px;
      }
      font-style: italic;
    }

    .description {
      margin: 16px 0;

      .technologies {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        flex-wrap: wrap;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .screenshots {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 450px;
      width: auto !important;
    }
  }
}
