@import "main";

.skill-card {
  display: flex;
  flex-direction: column;
  margin: 16px;

  .header-title {
    color: $blue-color-1;
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
    font-weight: bold;

    .open-close-button {
      background: transparent;
      color: $blue-color-2;
      border: 4px solid $blue-color-1;
      padding: 4px 16px;
      margin-left: 16px;
      font-weight: bold;

      &:hover {
        background-color: $black-color-4;
      }
    }
  }

  .all-lines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 8px;

    .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      height: 48px;
      max-width: 256px;
      margin-left: 32px;

      @media screen and (max-width: $break-size-mobile) {
        width: 220px;
      }

      img {
        width: 28px;
      }
      span {
        margin-left: 16px;
      }
    }
  }
}

.header-box-top-left-full-height {
  position: relative;
  &:before {
    content: "";
    background: $blue-color-2;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 4px;
  }

  &:after {
    content: "";
    background: $blue-color-2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
  }
}

.border-top {
  border-top: 4px solid $blue-color-2;
}

.border-left {
  border-left: 4px solid $blue-color-2;
}

.border-bottom {
  border-bottom: 4px solid $blue-color-2;
}
