@import "../main";

.home-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;

  .text {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;

    .my-name {
      font-family: "DOMINE", sans-serif;

      font-weight: bold;
      font-size: 80px;
      color: $text-color;
      margin: 0;
    }
  }

  .separation {
    width: 8px;
    height: 445px;

    border-left: 8px solid;
    border-image: linear-gradient(
        to bottom,
        $border-color-1 25%,
        $border-color-2 25%,
        $border-color-2 50%,
        $border-color-3 50%,
        $border-color-3 75%,
        $border-color-4 75%
      )
      5;
  }

  .all-activies {
    width: 40%;

    // border-radius: 8px;

    padding: 48px;

    .title {
      margin-top: 32px;
      font-size: 42px;
    }

    .activities-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: left;
      justify-content: space-between;
      margin: 48px 32px;
      padding: 48px;
      height: 100%;

      @media screen and (max-width: $break-size-desktop) {
        margin: 0 8px;
        flex-direction: column;
      }

      @media screen and (max-width: $break-size-mobile) {
        margin-left: 0px;
      }
    }
  }
}
