@import "../main";

h2 {
  font-weight: normal;
}

.all_i_do {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: left;
  justify-content: space-between;
  margin: 0 32px;

  @media screen and (max-width: $break-size-desktop) {
    margin: 0 8px;
    flex-direction: column;
  }

  @media screen and (max-width: $break-size-mobile) {
    margin-left: 0px;
  }
}


