// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/** Color palette **/
$black-color: hsl(230, 16%, 16%);
$black-color-2: hsl(230, 26%, 26%);
$black-color-3: hsl(230, 36%, 36%);
$black-color-4: hsl(230, 46%, 46%);
$black-color-5: hsl(230, 56%, 56%);

$gray-color: #867e7e;
$white-color: rgb(238, 235, 235);

$blue-color-1: #4faaff;
$blue-color-2: #84c1fa;

$maroon-color-1: #ad6c00;
$maroon-color-2: #facd84;

$common-size: 1200px;

$break-size-desktop: 936px;
$break-size-mobile: 475px;

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;

  background-color: $black-color;
  color: $white-color;

  font-size: 18px;

  a {
    font-style: underline;
    color: $black-color;
  }

  @media screen and (max-width: $break-size-mobile) {
    font-size: 14px;

    ul {
      margin-left: 4px;
      padding-left: 4px;
    }
  }
}
